<section>
  <div class="panel panel-info">
    <div class="panel panel-heading">
      Detalhe do Contrato
    </div>
    <div class="panel-body">
      <dl>
        <dt>Status</dt>
        <dd>  <%= @contract.status? %></dd>
        <dt>Número</dt>
        <dd>  <%= @contract.number %></dd>
        <dt>Número do Pedido</dt>
        <dd>  <%= @contract.request_number %></dd>
        <dt>Cliente</dt>
        <dd>  <%= @contract.customer %></dd>
        <dt>Endereço</dt>
        <dd>  <%= @contract.address %></dd>
        <dt>Contato</dt>
        <dd>  <%= @contract.contact %></dd>
        <dt>Prazo</dt>
        <dd> <%= @contract.rental_period.period %></dd>
        <dt>Data de ínicio</dt>
        <dd>  <%= l(@contract.start_date) %></dd>
        <dt>Data de fim</dt>
        <dd>  <%= l(@contract.end_date) %></dd>
        <dt>Equipamentos</dt>
        <dd>
          <% @contract.equipment.each do |equipment| %>
            <%= equipment.name %>
          <% end %>
        </dd>
        <dt>Data de ínicio</dt>
        <dd>  <%= l(@contract.start_date) %></dd>
        <dt>Data de fim</dt>
        <dd>  <%= l(@contract.end_date) %></dd>
        <dt>Preço</dt>
          <dd>  <%= number_to_currency( @contract.price) %></dd>
        <dt>Desconto</dt>
        <dd>  <%= number_to_currency( @contract.discount) %></dd>
        <dt>Preço Final</dt>
        <dd>  <%= number_to_currency(@contract.discount) %></dd>
      </dl>
    </div>
  </div>
  <div class="row">
      <div class="btn-group" role="group">
        <% unless @contract.receipt %>
          <div class="form-group">
            <%= link_to 'Emitir Recibo de Entrega',
                        contract_receipts_path(@contract),
                        options = {method: :post,
                        class: "btn btn-default"} %>
          </div>
        <% else %>
          <div class="form-group">
            <%= link_to 'Imprimir Recibo de Entrega',
                        @contract.receipt,
                        class: "btn btn-default" %>
          </div>
        <% end %>

        <% if @contract.receipt && !@contract.received_receipt  %>

          <%= simple_form_for [@contract, @received_receipt],
                              html: {class: 'form-inline'} do |f| %>

              <%= f.submit 'Emitir Recibo de Devolução',
                            class: "btn btn-default" %>
              <div class="form-group">
                <%= f.input :responsible, label: false,
                            input_html: {class: 'form-control'} , placeholder: 'Responsável' %>
              </div>


          <% end %>
        <% elsif @contract.received_receipt %>
          <%= link_to 'Imprimir Recibo de Devolução',
                      @contract.received_receipt,
                      class: "btn btn-default" %>

          <%= link_to 'Encerrar Contrato',
                      finish_contract_path(@contract),
                      options = {method: :post,
                                 class: "btn btn-default"} %>
        <% end %>
    </div>
  </div>
</section>
