<section>
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      Detalhe do Contrato
    </div>
    <div class="panel-body">
      <dl>
        <dt>Número</dt>
        <dd>  <%= @contract.number %></dd>
        <dt>Número do Pedido</dt>
        <dd>  <%= @contract.request_number %></dd>
        <dt>Cliete</dt>
        <dd>  <%= @contract.customer %></dd>
        <dt>Endereço</dt>
        <dd>  <%= @contract.address %></dd>
        <dt>Contato</dt>
        <dd>  <%= @contract.contact %></dd>
        <dt>Prazo</dt>
        <dd>  <%= @contract.rental_period.period %></dd>
        <dt>Equipamentos</dt>
        <dd>
          <% @contract.equipment.each do |equipment| %>
            <%= equipment.name %>
          <% end %>
        </dd>
        <dt>Data de ínicio</dt>
        <dd>  <%= l(@contract.start_date, format: :long) %></dd>
        <dt>Data de fim</dt>
        <dd>  <%= l(@contract.end_date, format: :long) %></dd>
        <dt>Preço</dt>
        <dd>  <%= l( "currency", @contract.price) %></dd>
        <dt>Desconto</dt>
        <dd>  <%= l( "currency", @contract.discount) %></dd>
        <dt>Preço Final</dt>
        <dd>  <%= l( "currency", @contract.discount) %></dd>
      </dl>

      <% unless @contract.receipt %>
        <%= link_to 'Emitir Recibo de Entrega',
                    contract_receipts_path(@contract),
                    options = {method: :post} %>
      <% else %>
        <%= link_to 'Imprimir Recibo de Entrega',
                    @contract.receipt%>
      <% end %>
    </div>
  </div>
</section>
