<section>
  <table class='table table-striped  table-bordered table-hover'>
    <caption>Lista de Equipamentos</caption>
    <thead>
      <tr>
        <th>Equipamento</th>
        <th>Código</th>
        <th>Num. Série</th>
        <th>Fornecedor</th>
        <th>Categoria</th>
        <th>Preço (R$)</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @equipment.each do |equipment| %>
        <tr>
          <td><%=link_to equipment.name, equipment %></td>
          <td><%=equipment.code %></td>
          <td><%=equipment.serial_number %></td>
          <td><%=equipment.supplier %></td>
          <td><%=equipment.category %></td>
          <td><%= number_to_currency(equipment.price) %></td>
          <td><%=equipment.status %></td>         
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
