<section>
  <div class="panel panel-info">
    <div class="panel panel-heading">
      Detalhe do Equipamento
    </div>
    <div class="panel-body">
      <dl>
        <dt>Código</dt>
        <dd>  <%= @equipment.code %></dd>
        <dt>Nome</dt>
        <dd>  <%= @equipment.name %></dd>
        <dt>Número de Série </dt>
        <dd>  <%= @equipment.serial_number %></dd>
        <dt>Fornecedor</dt>
        <dd>  <%= @equipment.supplier %></dd>
        <dt>Categoria</dt>
        <dd>  <%= @equipment.category %></dd>
        <dt>Preço</dt>
        <dd>  <%= @equipment.price %></dd>
        <dt>Status</dt>
        <dd>  <%= @equipment.status %></dd>
      </dl>
    </div>
  </div>
  <%= link_to 'Voltar', equipment_index_path %>
  </section>
