<nav>
  <div class="btn-group-vertical" role="group" aria-label="...">
    <%= link_to 'Orçamentos', proposals_path, class: "btn btn-default btn-primary" %>
    <%= link_to 'Novo Orçamento', new_proposal_path, class: "btn btn-default btn-primary" %>
    <%= link_to 'Contratos', contracts_path, class: "btn btn-default btn-primary" %>
    <%= link_to 'Novo Contrato', new_contract_path, class: "btn btn-default btn-primary" %>
    <%= link_to 'Equipamentos', equipment_index_path, class: "btn btn-default btn-primary" %>
    <%= link_to 'Novo Equipamento', new_equipment_path, class: "btn btn-default btn-primary" %>
    <%= link_to 'Listar Preços', prices_path, class: "btn btn-default btn-primary" %>
  </div>
</nav>
