<section>
  <h2> Novo Orçamento </h2>
  <%= simple_form_for @proposal do |f| %>
    <div class="form-group">
      <%= f.input :name, label: 'Nome', autofocus: true  %>
    </div>
    <div class="form-group">
      <%= f.input :email, label: 'Email' , class:"form-control"%>
    </div>
    <div class="form-group">
      <%= f.input :phone, label: 'Telefone' %>
    </div>
    <div class="form-group">
      <%= f.input :description, label: 'Descrição' %>
    </div>
    <%= f.submit 'Solicitar orçamento', class: "btn btn-default"%>
  <% end %>
</section>
