<!DOCTYPE html>
<html>
  <head>
    <title>Rafaequip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <h1> RafaEquip </h1>
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <%= flash.now[:error] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
